.game-board {
    background-color: palevioletred;
    border-radius: 4px;
    display: grid;
    width: 140px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    column-gap: 4px;
    grid-gap: 4px;
    padding: 10px;
}

.game-tile {
    text-align: center;
    background-color: gray;
    border-radius: 4px;
    width: 40px;
    z-index: 1;
}

.game-tile:after {
    content: "\200B";
}